/*

Bootstrap Container Breakpoints


x small --- < 100%
small --- sm --- >=540px
medium --- md --- >= 720px
large --- lg --- >= 960px
Extra large --- xl --- >=1140px
Extra Extra large --- xxl --- >= 1320px

*/
.row {
    margin-bottom: 20px;
    height: 200px;
    background: cadetblue;
}

.row div div {
    background: red;
    
    color: #fff;
    padding: 20px;
    text-align: center;
}